[dependency-groups]
dev = ["ruff~=0.9.3", "pyright~=1.1.392"]

[tool.uv.workspace]
members = ["documentation", "package", "example"]

[tool.uv.sources]
solie = { workspace = true }
documentation = { workspace = true }
usage = { workspace = true }

[tool.pyright]
typeCheckingMode = "standard"
reportUnnecessaryTypeIgnoreComment = true
ignore = ["package/solie/window/compiled.py"]
extraPaths = ["package"]

[tool.ruff.lint]
extend-select = [
    "N",
    "PL",
    "I",
    "T20",
    "RUF",
    "SLF",
    "INP",
    "B",
    "PTH",
    "ASYNC",
]
exclude = ["package/solie/window/compiled.py"]
