[dependency-groups]
dev = ["ruff~=0.9.3", "pyright~=1.1.392"]

[tool.uv.workspace]
members = ["documentation", "package", "example"]

[tool.uv.sources]
solie = { workspace = true }
documentation = { workspace = true }
usage = { workspace = true }

[tool.pyright]
typeCheckingMode = "standard"
reportUnnecessaryTypeIgnoreComment = true
ignore = ["package/solie/window/compiled.py"]
extraPaths = ["package"]

[tool.ruff]
target-version = "py312"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "TC",
    "BLE",
    "PGH",
    "ANN401",
    "S102",
    "S301",
    "G",
    "C",
    "PD",
    "TRY",
    "FBT",
]
exclude = ["package/solie/window/compiled.py"]

[tool.ruff.lint.per-file-ignores]
"documentation/**/*.py" = ["A001"]
