pyinstaller
cython
pyqt6
pyside6
pyqtgraph
requests
apscheduler
timesetter
websocket-client
Pygments
dill
pyzipper
getmac
black
flake8
pep8-naming
flake8-variables-names
flake8-print
flake8-blind-except
flake8-comprehensions
flake8-use-fstring